{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <h2>Login</h2>
      <form method="post" action="/login">
        <label>Email</label>
        <input name="email" type="email" required placeholder="name@company.com"/>
        <label style="margin-top:10px;">Password</label>
        <input name="password" type="password" required/>
        <div style="margin-top:12px;" class="actions">
          <button type="submit">Sign in</button>
        </div>
      </form>
      <p class="muted" style="margin-top:12px;">
        Don't have an account? Contact your admin to get one created.
      </p>
    </div>
  </div>
</div>
{% endblock %}
